
#page-container {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}
.bonnie, .clyde, .moe {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  text-align:center;
}
.container-1 {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
#order1 {

  height: 75px;
  text-align: center;

}
#order2 {
  height:150px;
  text-align:center;
}

#order3 {
  height:125px;
  text-align:center;
}

#order4 {
  height:125px;
  text-align:center;
}

.border-efgh {
  height:250px;
  text-align:center;
  flex-basis: 50%;
  flex-shrink: 0;
}

#order9 {
  height:80px;
  text-align:center;
}

@media (min-width: 768px) {

  #order2 {
    flex-basis: 200px;
    flex-grow: 0;
    height: auto;
  }
  .moe {
    flex-grow: 1;
  }
  #order3, #order4 {
    flex-basis: 50%;
    flex-grow: 0;
    height: 200px;
  }
.bonnie {
  align-items: stretch;
}
  .bonnie, .clyde {
    flex-direction: row;
  }
  .border-efgh {
    height:250px;
    flex-basis: 25%;
  }

  #order9 {
    height:150px;
  }
}
